// COLORS
$green: #398300;
$orange: #e0a100;
$text-color: #d4e1e9;
$background-color: #171f27;
$code-piece-border-color: $text-color;
$menu-background-color: lighten($background-color, 3);

// CODE PIECE VARIABLES
$code-piece-margin: 0.8rem;
$code-piece-column-gap: 0.6rem;
$code-piece-size: calc(90vh / 12 - 1.4rem);
$code-button-size: calc($code-piece-size * 1.1);

@mixin code-piece-scaling($scaling) {
  // your SCSS here, e.g.
  height: calc($code-piece-size * $scaling);
  width: calc($code-piece-size * $scaling);
}

@mixin options-box-shadow() {
  box-shadow: 0 9px 7px 0px #0000001a;
}