// COLORS
$green: #316707;
$green-darkened: darken($green, 2%);
$orange: #d18800;
$orange-darkened: darken($orange, 3%);
$red: #b32d2d;
$text-color: #fff;
$text-color-medium: #a0a0a0;
$text-color-disabled: #6c6c6c;
$text-color-disabled2:rgb(83, 83, 83);
$background-color: #121212;
$background-color-0dp: lighten($background-color, 3%);
$background-color-1dp: lighten($background-color, 5%);
$background-color-2dp: lighten($background-color, 7%);
$background-color-3dp: lighten($background-color, 8%);
$background-color-4dp: lighten($background-color, 9%);
$background-color-6dp: lighten($background-color, 11%);
$background-color-8dp: lighten($background-color, 12%);
$background-color-12dp: lighten($background-color, 14%);
$background-color-16dp: lighten($background-color, 15%);
$background-color-24dp: lighten($background-color, 16%);
$shadow-color: rgb(0 0 0 / 60%);
$code-piece-border-color: $text-color;
$menu-background-color: lighten($background-color, 3);

// CODE PIECE VARIABLES
$code-piece-margin: 0.8rem;
$code-piece-column-gap: 0.6rem;
$code-piece-size: calc(90vh / 12 - 1.3rem);

// BOX SHADOWS
$shadow-1dp: 0px 1px 2px 0px $shadow-color;
$shadow-2dp: 0px 1.5px 3px 0px $shadow-color;
$shadow-3dp: 0px 2px 3px 0px $shadow-color;
$shadow-4dp: 0px 3px 4px 0px $shadow-color;
$shadow-6dp: 0px 4px 5px 0px $shadow-color;
$shadow-8dp: 0px 5px 6px 0px $shadow-color;
$shadow-8dp: 0px 5px 9px 1px $shadow-color;
$shadow-12dp: 0px 5px 10px 2px $shadow-color;
$shadow-16dp: 0px 5px 12px 2px $shadow-color;
$shadow-24dp: 0px 6px 13px 2px $shadow-color;

//BUTTONS
$button-border-radius: 0.2rem;

// MENU MARGINS
$menu-margin-top: 3rem;

@mixin code-piece-scaling($scaling) {
  // your SCSS here, e.g.
  height: calc($code-piece-size * $scaling);
  width: calc($code-piece-size * $scaling);
}

@mixin options-box-shadow() {
  box-shadow: 0 9px 7px 0px $shadow-color;
}